#main {
    position: relative;
    [data-reach-tabs] {
        height: 100%;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 40px 1fr;
        grid-template-rows: 40px 1fr; 
    }
    [data-reach-tab-list] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        border-bottom: 1px solid var(--border);
        button {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            height: 39px;
            padding: 0;
            max-width: 180px;
            min-width: 180px;
            background: transparent;
            border: none;
            text-align: left;
            cursor: pointer;
            @include flex(null, space-between);
            border-right: 1px solid var(--border);
            span:first-child {
                height: 39px;
                width: calc(100% - 39px);
                line-height: 41px;
                padding-left: 16px; 
                &:hover {
                    background: rgba(#000, 0.1);
                }
            }
            span:last-child {
                width: 39px;
                height: 39px;
                visibility: hidden;
                @include flex(center, center);
                &:hover {
                    background: rgba(#000, 0.1);
                }
            }
            &:hover {
                span:last-child {
                    visibility: visible;
                }
            }
            &[aria-selected="true"] {
                border-bottom: 2px solid var(--border);
            }
        }
    }
    [data-reach-tab-panel] {
        height: calc(100vh - 72px);
        &:focus {
            outline: none;
        }
    }
    #tabs__navigation {
        background: #fff;
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: auto;
        border-left: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
        z-index: 100;
        span {
            width: 40px;
            height: 40px;
            float: left;
            cursor: pointer;
            @include flex(center, center);
            &:hover {
                background: rgba(#000, 0.1);
            }
        }
    }
    #tab__options {
        background: #fff;
        border: 1px solid var(--border);
        top: 48px;
        right: 0;
        position: absolute;
        padding: 8px 0;
        width: 240px;
        ul {
            li {
                cursor: pointer;
                height: 32px;
                line-height: 33px;
                padding: 0 16px;
                &:hover {
                    background: rgba(#000, 0.1);
                }
            }
        }
    }
}

.editor__options {
    height: 58px;
    @include flex(center, space-between);
    border-bottom: 1px solid var(--border);
    padding: 0 var(--spacer-1);
    .editor__options__left {
        button {
            background: transparent;
            width: 40px;
            height: 40px;
            float: left;
            cursor: pointer;
            border: none;
            @include flex(center, center);
            &:hover {
                background: rgba(#000, 0.1);
            }
        }
    }
    .editor__options__right {
        button {
            height: 40px;
            cursor: pointer;
            padding: 0 8px;
            margin-left: 8px;
            &:first-child {
                border: 1px solid #000;
                background: transparent;
            }
            &:last-child {
                color: #fff;
                border: none;
                background: #666666;
            }
        }
    }
}