#main {
    position: relative;
    [data-reach-tabs] {
        height: 100%;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 40px 1fr;
        grid-template-rows: 40px 1fr; 
    }
    [data-reach-tab-list] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        border-bottom: 1px solid var(--border);
        button {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            height: 39px;
            padding: 0;
            max-width: 180px;
            min-width: 180px;
            background: transparent;
            border: none;
            text-align: left;
            cursor: pointer;
            @include flex(null, space-between);
            border-right: 1px solid var(--border);
            span:first-child {
                height: 39px;
                width: calc(100% - 39px);
                line-height: 41px;
                padding-left: 16px; 
                &:hover {
                    background: rgba(#000, 0.1);
                }
            }
            span:last-child {
                width: 39px;
                height: 39px;
                visibility: hidden;
                @include flex(center, center);
                &:hover {
                    background: rgba(#000, 0.1);
                }
            }
            &:hover {
                span:last-child {
                    visibility: visible;
                }
            }
            &[aria-selected="true"] {
                border-bottom: 2px solid var(--border);
            }
        }
    }
    [data-reach-tab-panel] {
        height: calc(100vh - 72px);
        &:focus {
            outline: none;
        }
    }
    #tabs__navigation {
        background: #fff;
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: auto;
        border-left: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
        z-index: 100;
        span {
            width: 40px;
            height: 40px;
            float: left;
            cursor: pointer;
            @include flex(center, center);
            &:hover {
                background: rgba(#000, 0.1);
            }
        }
    }
    #tab__options {
        background: #fff;
        border: 1px solid var(--border);
        top: 48px;
        right: 0;
        position: absolute;
        padding: 8px 0;
        width: 240px;
        ul {
            li {
                cursor: pointer;
                height: 32px;
                line-height: 33px;
                padding: 0 16px;
                &:hover {
                    background: rgba(#000, 0.1);
                }
            }
        }
    }
}

.editor__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 48px 1fr;
    grid-template-areas: "head head head head" "main main main main";
    & > section {
        grid-area: main;
    }
    &.withTemplates {
        grid-template-areas: "head head head head" "main main main aside";
    }
    &.withHistory {
        grid-template-areas: "head head head head" "main main main aside";
    }
}

.editor__options {
    height: 48px;
    @include flex(center, null);
    border-bottom: 1px solid var(--border);
    padding: 0 var(--spacer-1);
    grid-area: head;
    .btn__icon {
        background: transparent;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        @include flex(center, center);
        &:hover {
            background: rgba(#000, 0.1);
        }
    }
}

#history__panel {
    grid-area: aside;
    overflow-y: auto;
    height: calc(100vh - 120px);
    border-left: 1px solid var(--border);
    header {
        padding: var(--spacer-2) var(--spacer-2) 0 var(--spacer-2);
        border-bottom: 1px solid var(--border);
        margin-bottom: calc(var(--base-pt) * 2px);
    }
    h3 {
        font-size: 24px;
        margin-bottom: calc(var(--base-pt) * 2px);
    }
    main {
        padding:0 var(--spacer-2);
    }
    .commit {
        height: 48px;
        @include flex(center, space-between);
        padding:0 var(--spacer-2);
        border: 1px solid var(--border);
        margin-bottom: calc(var(--base-pt) * 2px);
        border-radius: calc(var(--base-pt) * 0.5px);
        &:hover button {
            visibility: visible;
        }
        button {
            height: 24px;
            border: none;
            color: #fff;
            cursor: pointer;
            background: grey;
            visibility: hidden;
            border-radius: calc(var(--base-pt) * 0.5px);
        }
    }
}

.add__reference__file  {
    header {
        display: grid;
        grid-template-columns: 1fr 80px;
        grid-column-gap: var(--spacer-1);
        input,
        button {
            height: 32px;
        }
        input {
            padding-left: var(--spacer-1);
        }
    }
    section {
        height: auto;
        border-bottom: 1px solid var(--border);
        padding: var(--spacer-2) 0;
        h2 {
            font-size: 20px;
            padding-bottom: var(--spacer-2);
        }
        div {
            height: 40px;
            padding: 0 var(--spacer-1);
            @include flex(center, space-between);
            margin-bottom: var(--spacer-1);
            border: 1px solid var(--border);
            border-radius: calc(var(--base-pt) * 0.5px);
            &:hover button {
                visibility: visible;
            }
            button {
                height: 24px;
                border: none;
                color: #fff;
                cursor: pointer;
                background: grey;
                visibility: hidden;
                border-radius: calc(var(--base-pt) * 0.5px);
            }
        }
    }
}