#main {
    [data-reach-tabs] {
        height: 100%;
        display: grid;
        grid-template-rows: 40px 1fr; 
    }
    [data-reach-tab-list] {
        display: flex;
        border-bottom: 1px solid var(--border);
        button {
            height: 39px;
            padding: 0;
            width: 180px;
            background: transparent;
            border: none;
            text-align: left;
            cursor: pointer;
            @include flex(null, space-between);
            border-right: 1px solid var(--border);
            span:first-child {
                height: 39px;
                width: calc(100% - 39px);
                line-height: 41px;
                padding-left: 16px; 
                &:hover {
                    background: rgba(#000, 0.1);
                }
            }
            span:last-child {
                width: 39px;
                height: 39px;
                visibility: hidden;
                @include flex(center, center);
                &:hover {
                    background: rgba(#000, 0.1);
                }
            }
            &:hover {
                span:last-child {
                    visibility: visible;
                }
            }
            &[aria-selected="true"] {
                border-bottom: 2px solid var(--border);
            }
        }
    }
    [data-reach-tab-panel] {
        padding: var(--spacer-2);
        height: calc(100vh - 72px);
        overflow-y: auto;
    }
}