#wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 240px 1fr;
    grid-template-columns: 240px 1fr;
    grid-template-areas: "navbar main";
    width: 100vw;
    height: 100vh;
    &.navbar__collapsed {
        -ms-grid-columns: 40px 1fr;
        grid-template-columns: 40px 1fr;
        #navbar__header__nav,
        #navbar__explorer {
            display: none;
        }
        #main {
            width: calc(100vw - 40px);
            [data-reach-tab-list],
            [data-reach-tab-panels] {
                width: calc(100vw - 40px);
            }
        }
    }
}

#navbar {
    grid-area: navbar;
}

#main {
    width: calc(100vw - 240px);
    grid-area: main;
    border-left: 1px solid var(--border);
    [data-reach-tab-list],
    [data-reach-tab-panels] {
        width: calc(100vw - 240px);
    }
}