#wrapper {
    display: grid;
    grid-template-columns: 240px 1fr 64px;
    grid-template-rows: 32px 1fr;
    grid-template-areas: "head head head" "navbar main sidebar";
    width: 100vw;
    height: 100vh;
}

#header,
#main,
#navbar,
#sidebar {
    outline: 1px solid #000;
}

#header {
    grid-area: head;
}

#navbar {
    grid-area: navbar;
}

#main {
    grid-area: main;
}

#sidebar {
    grid-area: sidebar
}